
services:
  mysql:
    image: mysql:8.4
    container_name: optica-mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: optica
      MYSQL_USER: admin
      MYSQL_PASSWORD: password1
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-proot"]
      interval: 10s
      timeout: 5s
      retries: 5
volumes:
  mysql_data: